<nav class="navbar navbar-expand-lg navbar-light bg-light " style="font-family: Impact; font-size: 20px; ">
    <a class="navbar-brand " href="#">Todo App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/write">Write <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/chatroom">Chating</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/mypost">My Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/myimage">My Image</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/shop/shirts">shirts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/shop/pants">pants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/upload">upload</a>
            </li>
        </ul>
    </div>
</nav>